<%- include('navbar',{isAuthenticated:isAuthenticated}); -%>
<div class="page-title-overlap bg-dark pt-4 mt-5">
  <div class="container d-lg-flex justify-content-between py-2 py-lg-3 mt-3">
    <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
          <li class="breadcrumb-item"><a class="text-nowrap" href="/"><i class="ci-home"></i>Home</a></li>
          <li class="breadcrumb-item text-nowrap"><a href="/edit-signin">Account</a>
          </li>
          <li class="breadcrumb-item text-nowrap active" aria-current="page">Profile info</li>
        </ol>
      </nav>
      <div class="d-none d-lg-flex">
        <form action="/signout" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken%>">
          <button class="btn btn-primary btn-sm mt-3" type="submit">
            <i class="ci-sign-out me-2" aria-hidden="true"></i> Sign out</button>
        </form>
      </div>
      
    </div> 
    <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
      <h1 class="h3 text-light mb-0">Profile info</h1> 
    </div>
  </div>
</div>
<div class="container mb-5 pb-3">  
  <div class="bg-light shadow-lg rounded-3 overflow-hidden">
    <div class="row">
      <div class="col-lg-4 pe-xl-5">
        <div class="d-block d-lg-none p-4">
          <a class="btn btn-outline-accent d-block" href="#account-menu" data-bs-toggle="collapse" aria-expanded="true">
            <i class="ci-menu me-2"></i>
            Account menu
          </a>
        </div>
        <div class="h-100 border-end mb-2">
          <div class="d-lg-block collapse" id="account-menu">
            <div class="bg-secondary p-4">
              <h3 class="fs-sm mb-0 text-muted">Account</h3>
            </div>
            <ul class="list-unstyled mb-0">
              <li class="border-bottom mb-0">
                <a class="nav-link-style active d-flex align-items-center px-4 py-3" href="/edit-signin">
                  <i class="ci-user opacity-60 me-2" aria-hidden="true"></i>Profile</a>
              </li>
              <li class="border-bottom mb-0">
                <a class="btn nav-link-style d-flex align-items-center px-4 py-3" href="/addresses">
                  <i class="ci-location opacity-60 me-2" aria-hidden="true"></i>Addresses</a>
              </li> 
              <li class="mb-0">
                <form action="/signout" method="POST">
                  <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                  <button class="btn nav-link-style d-flex align-items-center px-4 py-3" type="submit">
                    <i class="ci-sign-out opacity-60 me-2" aria-hidden="true"></i> Sign out</button>
                </form>
              </li>             
              
            </ul>
            <div class="bg-secondary p-4">
              <h3 class="fs-sm mb-0 text-muted">
               <%if(user.role=='SELLER'){%>
                Seller Dashboard
              <%}else{%>
               Dashboard
              <%}%></h3>
            </div>
            <ul class="list-unstyled mb-0">
                <%if(user.role=='ADMIN'){%>
                <li class="border-bottom mb-0">
                  <a class="nav-link-style d-flex align-items-center px-4 py-3" href="/add-category">
                    <i class="fa fa-gear opacity-60 me-2" aria-hidden="true"></i>Add Category</a>
                </li>
                <%}%>
                <li class="border-bottom mb-0">
                  <a class="nav-link-style d-flex align-items-center px-4 py-3" href="/orders">
                    <i class="ci-bag opacity-60 me-2" aria-hidden="true"></i>Purchases</a>
                  </li>
                <li class="border-bottom mb-0">
                  <a class="nav-link-style d-flex align-items-center px-4 py-3" href="/wishlist">
                    <i class="ci-heart opacity-60 me-2" aria-hidden="true"></i>Wishlist
                  </a>
                </li>                   
                <%if(user.role=='SELLER'){%>
                  <li class="border-bottom mb-0">
                  <a class="nav-link-style d-flex align-items-center px-4 py-3" href="/sales">
                    <i class="ci-rupee opacity-60 me-2" aria-hidden="true"></i>Sales
                  </a>
                  </li>
                  <li class="border-bottom mb-0">
                  <a class="nav-link-style d-flex align-items-center px-4 py-3" href="/products">
                    <i class="ci-package opacity-60 me-2" aria-hidden="true"></i>Products
                  </a>
                  </li>
                  <li class="border-bottom mb-0">
                   <a class="btn nav-link-style d-flex align-items-center px-4 py-3" href="/add-product">
                   <i class="ci-cloud-upload opacity-60 me-2" aria-hidden="true"></i>Add New Product</a>
                  </li>
                  <li class="mb-0"><a class="nav-link-style d-flex align-items-center px-4 py-3" href="dashboard-payouts.html">
                    <i class="ci-currency-exchange opacity-60 me-2" aria-hidden="true"></i>Payouts</a>
                  </li>
                  <%}%>
                  
                
                             
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8 pt-lg-4 pb-4">
        <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
          <!--title-->
          
          <div class="d-sm-flex flex-wrap justify-content-between align-items-center pb-2">
            <h2 class="h3 py-2 me-2 text-center text-sm-start">Profile Info</h2>
          </div>
          <form class="row needs-validation" action="/edit-signin" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="col-sm-6 mb-3">
              <label class="form-label" for="reg-fn">First name<sup class="text-danger ms-1">*</sup></label>
              <input class="form-control" type="text" required="" id="reg-fn" name="first_name" value="<%= user.firstName%>">
              <div class="invalid-feedback">Please enter you first name!</div>
            </div>
            <div class="col-sm-6 mb-3">
              <label class="form-label" for="reg-ln">Last name<sup class="text-danger ms-1">*</sup></label>
              <input class="form-control" type="text" required="" id="reg-ln" name="last_name" value="<%= user.lastName%>">
              <div class="invalid-feedback">Please enter you last name!</div>
            </div>
            <div class="col-sm-6 mb-3">
              <label class="form-label" for="reg-email">Email address<sup class="text-danger ms-1">*</sup></label>
              <input class="form-control" readonly type="email" required="" id="reg-email" name="email" value="<%= user.email%>">
              <div class="invalid-feedback">Please enter a valid email address!</div>
            </div>
            <div class="col-sm-6 mb-3">
              <label class="form-label" for="reg-phone">Phone number</label>
              <input class="form-control bg-image-0" type="text" id="reg-phone" name="mobile" value="<%= user.MOBILE%>">
            </div>
            <div class="col-sm-6 mb-3">
              <label class="form-label" for="reg-password">Password<sup class="text-danger ms-1">*</sup></label>
              <input class="form-control" type="password" required="" id="reg-password" name="password" value="<%= user.PASSWORD%>">
              <div class="invalid-feedback">Please provide password!</div>
            </div>
            <div class="col-sm-6 mb-3">
              <label class="form-label" for="reg-confirm-password">Confirm password<sup class="text-danger ms-1">*</sup></label>
              <input class="form-control" type="password" required="" id="reg-confirm-password" name="confirmpassword">
              <div class="invalid-feedback">Password doesn't match!</div>
            </div>
            <div class="col-sm-6 pt-2">
              <button class="btn btn-primary d-block w-100" type="submit">Save</button>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>
<%- include('footer'); -%>
